@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Kristi&family=Playfair+Display&display=swap');
/* font-family: 'Kristi', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

*::selection{
    background-color: #FFCC05;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
body{
}
.flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}


/* Top header styling*/
.header-upper{
    background-color: #1C1C1C;
    padding: 8px 0px;
    z-index: -1;
}
.header-upper-container{
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    
}

.left{
    gap: 40px;
}

.left-left{
    gap: 20px;
}
.left-right{
    gap: 15px;
    cursor: pointer;
}

.left-right:hover{
    color: #FFAB17;
}
.left-left p{
    letter-spacing: 2px;
}

.right span{
    letter-spacing: 2px;
    cursor: pointer;
}
.right span:hover{
    color: #FFAB17;
}

.icons{
    display: flex;
    gap: 5px;
}
.icons i:hover{
    color: #FFAB17;
    cursor: pointer;
}


/* Login conteiner styling */

.login-container .login-body .logo p{
    font-family: 'Kristi', cursive;
    font-size: 45px;
    color: #FFCC05;

}

.login{
    position: fixed;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* height: 100%; */
    /* width: 100%; */
    background-color: rgba(0,0,0,0.3);
    display: none;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    gap: 15px;
    /* display: none; */
}
.login-upper{
    display: flex;
    font-size: 20px;
    color: #fff;
}
.login-upper p{
    padding: 20px 60px;
    cursor: pointer;
}

/* .login-upper p:last-child{
    background-color: #333333;
} */

.login-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px 40px;
}

.input input{
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.input input[type='submit']{
    background-color: #FFCC05;
    letter-spacing: 3px;
    color: #fff;
    font-size: 17px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
.input input[type='submit']:hover{
    background-color: #333333;
    
}

.login-body .logo{
    margin-left: 80px;
}

.login-back-color{
    background-color: #333333;
}

.upper-main-container{
    position: relative;
    z-index: 100;
}

.videos video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.down-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.header-main{
}
.header-min{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
}

.header-min .logo img{
    height: 40px;
}

.header-nav ul.ul-nav{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-nav{
    transform: translateY(8px);
}
/* a.drop-item{
    color: #9F9F9F;
    font-size: 10px;

} */
a.nav-tab{
    color: #fff;
    font-size: 17px;
    letter-spacing: 2px;
}

.header-nav ul li a:hover{
    color: #FFCC05;
}

.header-nav ul .home-tab{
    color: #FFCC05;
}

.hamburger{
    background-color: #FFCC05;
    padding: 8px;
    transform: translateY(-8px);
    border-radius: 3px;
}

.cart{
    position: relative;
}
.cart span{
    position: absolute;
    top: -5px;
    right: -8px;
    color: #fff;
    background-color: #FFCC05;
    font-size: 12px;
    /* padding: 2px; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Search bar styling */

.search-bar{
    background-color: #141414;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    display: none;
}

.search-bar input{
    /* width: 95%; */
    padding: 5px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #fff;
    width: 90%;
}

.search-bar i:first-child{
    color: #FFCC05;
    font-size: 23px;
    transform: rotate(90deg);
}
.search-bar i:last-child{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.search-bar i:last-child:hover{
    color: #FFCC05;
}

.right-slider{
    width: 40vw;
    height: 100vh;
    background-color: #1C1C1C;
    position: fixed;
    top: 0;
    right: -1000px;
    z-index: 100011;
    overflow-y: scroll;
    transition: right .5s ease-out;

}

.right-slider::-webkit-scrollbar{
    width: 15px;
}
.right-slider::-webkit-scrollbar-track {
    border-radius: 7px;
    
}

.right-slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 6px 6px 6px #000; 
   
}
.cursor{

    cursor: pointer;
}
.right-slider .wrapper img:first-child{
    height: 50px;
    margin-bottom: 20px;
}
.right-slider .wrapper{
    padding: 60px;
}
.right-slider .wrapper p.wrapper-text{
    color:#fff;
    line-height: 1.7;
    letter-spacing: 1px;
    color: #9F9F9F;
    font-size: 17px;
    margin-bottom: 20px;
}

.right-slider .wrapper p.wrapper-latest{
    color: #fff;
    font-size: 23px;
    margin-bottom: 20px;
}

.wrapper{
    position: relative;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.posts .post{
    display: flex;
    gap: 20px;
}

.posts .post .post-content{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.posts .post .post-content p:first-child{
    font-size: 19px;
    color: #fff;
}
.posts .post .post-content p:last-child{

    color: #fff;
}

.phone,.mail{
    display: flex;
    gap: 10px;
    color: #9F9F9F;
}

.right-slider-contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.right-slider-contact .icons{
    display: flex;
    gap: 15px;
    color: #9F9F9F;
}

.post-content p:first-child{
    cursor: pointer;
}
.post-content p:first-child:hover{
    color: #FFCC05;
}

.cross-icon{
    position: absolute;
    top: 50px;
    right: 80px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#bar{
    cursor: pointer;
}

.page-drop{
  
    left: 60px;
  
}
.cart-drop{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    /* left: 20px; */
    /* padding: 30px; */
    width: 250px;
    top: 48px;
    gap: 20px;
    /* right: 10px; */
    right: -100px;
    height: 0px;
    padding: 0;
    overflow: hidden;
    /* transition: height .5s ease; */
}
.cart-drop li{
    padding: 15px;
}
.cart-drop li a{
    color: #9F9F9F;
    font-size: 18px;
}
.dest-drop{
   
    left: 130px;

}

.tours-drop{
   
    left: 270px;

}

.blog-drop{
   
    left: 350px;

}

.shop-drop{
    /* right: 10px; */
    left: 450px;

}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    /* left: 20px; */
    /* padding: 30px; */
    width: 200px;
    top: 48px;
    gap: 20px;
    height: 0px;
    overflow: hidden;
    transition: height .5s ease;
}
.elements-drop{
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    background-color: #141414;
    /* left: 20px; */
    /* padding: 30px; */
    /* width: 1100px; */
    top: 48px;
    width: 120%;
    gap: 30px;
    /* right: 10px; */
    left: -200px;
    height: 0px;
    overflow: hidden;
    transition: height .5s ease;
    /* padding: 30px 10px; */
}
.elements-drop ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.elements-drop ul li a,
.elements-drop ul li h3{
    color: #9F9F9F;
}
.elements-drop ul li h3{
    padding-top: 30px;
}
.page-drop li,
.dest-drop li,
.tours-drop li,
.blog-drop li,
.shop-drop li{
    padding-left: 30px;
}
.page-drop li a,
.dest-drop li a,
.tours-drop li a,
.blog-drop li a,
.shop-drop li a{
    color: #9F9F9F;
    font-size: 14px;
}
.page-drop li:first-child,
.dest-drop li:first-child,
.tours-drop li:first-child,
.blog-drop li:first-child,
.shop-drop li:first-child{
    padding-top: 30px;
}
.page-drop li:last-child,
.dest-drop li:last-child,
.tours-drop li:last-child,
.blog-drop li:last-child,
.shop-drop li:last-child{
    padding-bottom: 30px;
}

.page-drop li a:hover,
.dest-drop li a:hover{
    color: #FFCC05;
}
.page-link:hover .page-drop{
    height: 270px;
    /* padding: 30px; */
}
.elements-link:hover .elements-drop{
    height: 440px;
    /* padding: 30px; */
}
.dest-link:hover .dest-drop{
    height: 100px;
}
.cart:hover .cart-drop{
    height: 60px;
}

.ul-nav li{
    cursor: pointer;
}
.tours-link:hover .tours-drop,
.shop-link:hover .shop-drop{
    height: 150px;
}
.tour-sub-link1{
    text-overflow: ellipsis;
}

.blog-link:hover .blog-drop{
    height: 150px;
}
/* .tour-sub-link1:hover .tours-sub-drop1{
    height: 100px;
} */
.tour-sub-link1:hover .tours-drop{
    overflow: visible;
}
a.nav-tab.bars:hover{
    color: #fff;
}
a.drop-item.sub{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.tours-sub-drop1{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    /* left: 20px; */
    /* padding: 30px; */
    width: 200px;
    top: 100px;
    gap: 20px;
    /* right: 10px; */
    left: 470px;
    /* height: 0px; */
    overflow: hidden;
    transition: height .5s ease;
    text-overflow: ellipsis;
}
.left-chevron,.right-chevron{
    cursor: pointer;
    z-index: 1000;
}
.right-chevron{
    position: absolute;
    right: 100px;
    top: 50%;
    font-size: 30px;
    color: #fff;
}
.left-chevron{
    position: absolute;
    left: 100px;
    top: 50%;
    font-size: 30px;
    color: #fff;
}


.upper-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-main-text h1{
    color: #fff;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
.upper-main-text p{
    color: #fff;
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    width: 75%;
    margin-top: 20px;
}
.upper-main-content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
  
    
}

p.top-text{
    font-family: 'Kristi', cursive;
    color: #FFCC05;
    font-size: 50px;
    /* position: absolute; */
    /* top: 110px;
    left: 430px; */
    /* transform: translateX(-130px); */
    margin-left: -220px;
}

.upper-form-input svg{
    fill: #FFCC05;
    width: 20px;
    height: 20px;
}
.upper-main-form{
    margin-top: 60px;
} 

.upper-main-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 30px 50px;
}

.upper-form-input{
    border: 1px solid #9F9F9F;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
select{
    border: none;
    outline: none;
    padding: 5px 15px;
}
option{
    width: 10px;
}

.upper-form-input input{

    padding: 6px 15px;
}

.upper-form-input.submit{
    background-color: #FFCC05;
    border: none;
    cursor: pointer;
}
.upper-form-input input[type='submit']{
    background: transparent;
    border: none;
    padding:6px 60px ;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.upper-form-input.submit:hover{
    background-color: #1c1c1c;
}


.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding-bottom: 15px;
    transition-duration:.5s;
    box-shadow: 0 0 8px 0 #cdc8c8;

}

/* .fixed-search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */
.fixed-top .nav-tab{
    color: #000;
}


.right-side-icons{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top i, .bottom i{
    font-size: 20px;
}

.top i{
    color: #fff;
    font-weight: bolder;
}
.top{
    background-color: rgb(238, 38, 71);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.top,.bottom{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom i{
    color: rgb(238, 38, 71);
    
}

.bottom{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 8px 0 #cdc8c8;
}

.chat-icon{
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 1000;
    background-color: #ee2852;
    color: #fff;
    padding: 10px 20px;
    border-radius: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 0.92857rem 1.57143rem;
    border-radius: 999rem;
    /* bottom: 0; */
    letter-spacing: 0.6;
    font-size: 1.07143rem;
    font-weight: 700;
}


.down{
    /* background-image: url('/images/h1-background-2.jpg'); */
    /* background-size: cover;
    background-position: center; */
}

.see-more{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    gap: 50px;
}
.see-more-img{
    width: 50%;
    position: relative;
}
.see-more-img img{
    width: 100%;
}
.see-more-content{
    width: 50%;
}

.see-more-img-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px;
}
.see-more-img-content span{
    color: #FFCC05;
    font-family: 'Kristi', cursive;
    font-size: 40px;
}
.see-more-img-content h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.see-more-img-content p{
    font-size: 18px;
    color: #fff;
    /* font-family: 'Playfair Display', serif; */
    /* font-weight: bold; */
}
.see-more-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFCC05;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.see-more-icon i{
    color: #fff;
    font-size: 20px;
}


.see-more-content{
    padding: 20px;
}
.see-more-content h1{
    color: #303030;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    /* width: 70%; */
    font-weight: 700;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}
.see-more-content p{
    color: #9F9F9F;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.see-more-content a{
    background-color: #FFCC05;
    color: #fff;
    padding: 15px 50px;
    letter-spacing: 2px;
}
.see-more-content a:hover{
    background-color: #1c1c1c;
}


.places-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    overflow-x: hidden;
    gap: 30px;
    /* overflow-y: hidden; */
    padding: 100px 0;
    padding-bottom: 50px;
}
.place{
    /* flex: 30%; */
    position: relative;
    /* height: 400px;
    /* width: 600px; */
    cursor: pointer;
    width: 550px;
    

}
.place img{
    /* width: 350px; */
    /* height: 100%; */
    /* height: 400px; */
    width: 100%;
    height: 100%;
}

.place-content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
}
.place-content p{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.place-content span.place-text{
    color: #fff;
    display: block;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 10px;
    display: none;
}
.place-content span:last-child{
    color: #fff;
    display: block;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 10px;
    font-size: 20px;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.place:hover .overlay,
.place:hover .place-text{
    display: block;
}


.dots{
    display: flex;
    justify-content: center;
    gap: 7px;
}

.dots .dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9F9F9F;
}

.dot.first{
    background-color: #FFCC05;
}

.reviews{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
}
.review-img{
    width: 50%;
    height: 100%;
}

.review-img img{
    width: 100%;
    height: 100%;
}

.review-content{
    width: 50%;
    height: 100%;
    background: url('/images/h1-img-3.jpg');
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.review-content h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 20px;

}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 40px;
    width: 80%;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.slide-top p.slide-name{
    font-size: 20px;
}
.slide-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.slide-top .stars i{
    color: #FFCC05;
}
.slide-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.slide-content p{
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    width: 80%;
}

.slide-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.slide-user-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}